.green {
  background-image: url(./geles.jpg);
  background-repeat: no-repeat;
  background-position: center;
  justify-content: center;
  display: flex;
  border-radius: 20%;
  padding: 30px;
  width: 100%;
  align-self: center;
}
.green img {
  border-radius: 20%;
}

.yellow {
  background-color: rgba(57, 70, 255, 0.286);
  display: flex;
  justify-content: center;
  padding: 20px;
  border-radius: 15%;
}
@keyframes animation {
  from {
    font-size: 1em;
    background-color: rgba(255, 255, 0, 0.248);
  }
  to {
    font-size: 1.5em;
    background-color: rgba(255, 103, 57, 0.892);
  }
}
.flexbox {
  display: flexbox;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  align-items: center;
  justify-content: center;
  padding: 50px;
  background-color: rgba(255, 255, 0, 0.248);
  text-align: center;
  border-radius: 15%;
  font-size: 1em;
  animation: animation 3s ease;
}

.filter-red img {
  padding-top: 30px;
}
